body {
    background-color: #050B0E;
}

#container {
    margin: 0 auto;
    width: 80%;
}
/*Cabecera*/
header{
    margin-top: 4%;
    width: 100%;
    text-align: center;
}

header h1{
    color: #fff;
    font-size: 2em;
    width: 100%;
}

/*Formulario*/
form {
    width:50%;
    background: #021117;
    margin:auto;
    border-radius: 8px;
    padding: 2%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2%;
}
#errores {
    width:50%;
    background: #021117;
    color: #d42700;
    margin:auto;
    border-radius: 8px;
    padding: 2%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2%;
}

input {
    width: 100%;
    color: #e0e0e0;
    padding: 2%;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #1f3d4a;
}

input:focus {
    border-bottom: 2px solid #75612E;   
}

/*Checkbox*/
.form-control {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    border: 2px solid #1f3d4a;
    border-radius: 0.15em;
    cursor: pointer;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms;
    box-shadow: inset 1em 1em #1f3d4a;
    
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
/**/

#btn{
    margin-top: 2%;
    cursor: pointer;
}

#btn:hover{
    border-bottom: 2px solid #75612E;  
}

label {
    color: #e0e0e0;
    display: block;
    margin: 2% 0 0;
    font-size: 14px;
}

#createaccount {
    margin: 5% 0 0;
}

a{
    color: #e0e0e0;
}

/*Footer*/
footer{
    background-color: #1f3d4a;
    clear: both;
    width: 100%;
    color: #fff;
    height: 50px;
}

/* Otros */
hr{
    width: 100%;
    border: 0; 
    border-top: 1px solid #0E1E25;
    margin-bottom: 3%;
}